name: Deploy to EC2

on:
  push:
    branches: [ "main" ]   # ana branch'in adı farklıysa burada değiştir

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          # port: 22  # varsayılan 22 zaten, istersen açıkça bırakabilirsin
          script: |
            /usr/local/bin/deploy_portfolio.sh
